body {
    padding-top: 8%;
}

.container {
    display: flex;
    background-color: white;
    padding: 10em;
    height: 100%;
}

.box {
    text-align: center;
    flex: 1;
    height: 24rem;
}
    
.main {  
  margin: auto;
  top: 50%;
  left: 50%;
}

#date {
    text-align: center;
    color : pink;
    font-size: 1.5rem;

    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-image: url('https://i.imgur.com/F3utrLW.png');
}

li {
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

li:hover {
    color: pink;
    text-decoration: line-through;
    font-family: 'Open Sans', sans-serif;
    transform: scale(1.02);
}

img {
    size: 50px;
    justify-content: flex-end;
    padding: 50px;
    -webkit-animation-name: "rolypoly";
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

#input {
    padding: 5px;
    width: 15rem;
}

::placeholder {
    color: light-grey;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
}

@-webkit-keyframes rolypoly {
    0% {
        -webkit-transform: translateY(0em);
    }
    50% {
        -webkit-transform: translateY(-15px);
    }
}

h2 {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight:light;
    letter-spacing: 1.5rem;
}

.title:hover {
   color:#ffcccc;
   transform: scale(1);
   transition-timing-function: ease-out;
   transition-duration: 2s;
}
